<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588348170085-pv74ej9lea6hkhtpgjueq285ai7qv6tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588348170085-pv74ej9lea6hkhtpgjueq285ai7qv6tq</string>
	<key>API_KEY</key>
	<string>AIzaSyBnztXussdl7-TnU4WMlS4vzjXxX8go3nk</string>
	<key>GCM_SENDER_ID</key>
	<string>588348170085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resakay</string>
	<key>PROJECT_ID</key>
	<string>resakay-80f84</string>
	<key>STORAGE_BUCKET</key>
	<string>resakay-80f84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588348170085:ios:18c9677fd7b7872c930b8c</string>
</dict>
</plist>